.carousel {
  position: relative;
  width: 80%;
  margin: auto;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center; 
}

.carousel-slide img {
  max-width: 75%; 
  height: auto;
  display: block;
  border-radius: 8px; 
}

.carousel-thumbnails {
  text-align: center;
  margin-top: 10px;
}

.carousel-thumbnails img {
  width: 60px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
  margin: 0 5px;
  border-radius: 6px; 
}

.carousel-thumbnails img:hover {
  opacity: 1;
}

.carousel-text {
  text-align: center;
  margin-top: 10px;
}

.carousel-text p {
  font-size: 1.2em;
  color: #333;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  z-index: 1000;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 3px 0 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
